form {
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 2%, 2.5rem);
    width: 100%;
}

button.submit-btn {
    width: 100%;
    padding: 0.625rem 0.75rem;
    background-color: rgb(var(--orange-700));
    border-radius: 0.5rem;
    border: none;
    font: inherit;
    font-weight: 700;
    color: rgb(var(--neutral-900));
    cursor: pointer;
    transition: all 0.3s ease;
}

button.submit-btn:hover {
    filter: brightness(1.1);
    transform: translateY(-0.125rem);
    box-shadow: 0 0.25rem 0.75rem rgba(234, 88, 12, 0.3);
}

button.submit-btn:focus {
    outline: 0.1875rem solid rgb(var(--orange-500));
    outline-offset: 0.125rem;
}

.background-pattern-circle, .background-pattern-circle2 {
    width: 7.5rem;
    height: 7.5rem;
    z-index: -1;
}

.background-pattern-circle {
    top: -2.1875rem;
    left: -1.25rem;
    position: fixed;
}

.background-pattern-circle2 {
    bottom: 12.5rem;
    right: -3.75rem;
    position: absolute;
}



@media (min-width: 40.625rem) {
        .background-pattern-circle, .background-pattern-circle2 {
        width: 9.375rem;
        height: 9.375rem;
    }

    .background-pattern-circle {
        top: -3.75rem;
        left: 0.625rem;
    }
}

@media (min-width: 64rem) {
    section {
        width: 70%;
    }

    form {
        width: 70%;
    }

    .background-pattern-circle, .background-pattern-circle2 {
        width: 11.25rem;
        height: 11.25rem;
    }

    .background-pattern-circle {
        top: -5.625rem;
        left: 2.5rem;
    }
    .background-pattern-circle2 {
        bottom: 15.625rem;
        right: -1rem;
    }
}