form {
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 2%, 2.5rem);
    width: 100%;
    margin-bottom: 0.5rem;
}

button.submit-btn {
    width: 100%;
    padding: 0.625rem 0.75rem;
    background-color: rgb(var(--orange-700));
    border-radius: 0.5rem;
    border: none;
    font: inherit;
    font-weight: 700;
    color: rgb(var(--neutral-900));
    cursor: pointer;
    transition: all 0.3s ease;
}

button.submit-btn:hover {
    filter: brightness(1.1);
    transform: translateY(-0.125rem);
    box-shadow: 0 0.25rem 0.75rem rgba(234, 88, 12, 0.3);
}

button.submit-btn:focus {
    outline: 0.1875rem solid rgb(var(--orange-500));
    outline-offset: 0.125rem;
}