.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-image: url(../assets/images/background-mobile.png);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    z-index: -1;
}

.background-image-overlay {
    position: fixed;
    background-image: url(../assets/images/pattern-lines.svg);
    /* background-position: center; */
    background-repeat: repeat-x;
    background-size: cover;
    object-fit: contain;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}



.pattern-squiggly-line-bottom-mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 15rem;
    height: auto;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    z-index: -1;
}

.pattern-squiggly-line-bottom-desktop {
    display: none;
}

.pattern-squiggly-line-top {
    position: fixed;
    top: clamp(1rem, 6%, 3rem);
    right: 0;
    width: clamp(5rem, 24%, 20rem);
    height: auto;
}
@media (min-width: 40.625rem) {
    .background-image {
        background-image: url(../assets/images/background-tablet.png);
    }

    .pattern-squiggly-line-bottom-mobile {
        width: 18rem;
    }
}

@media (min-width: 64rem) {
    .background-image {
        background-image: url(../assets/images/background-desktop.png);
    }

    .pattern-squiggly-line-bottom-mobile {
        display: none;
    }

    /* .pattern-squiggly-line-top {
        position: fixed;
        top: 2rem;
        right: 0;
        width: 20rem;
    } */

    .pattern-squiggly-line-bottom-desktop {
    position: fixed;
    bottom: 0;
    display: block;
    left: 0;
    width: 34rem;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    z-index: -1;
}
}