/* 1. Ensure the container itself doesn't have a height of 0 */
.background-container {
  position: absolute;
  inset: 0; /* Shorthand for top, bottom, left, right: 0 */
  z-index: -1;
  overflow: hidden;
  background-color: #0b0b14; /* Fallback color to match your neutral-900 */
  min-height: 100vh; /* Ensure it takes up space */
}

.background-image {
  position: absolute; /* Use absolute inside the fixed container */
  inset: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100%;
  /* Removed min-height and object-fit as they don't apply to divs */
  background-image: url(../assets/images/background-mobile.png);
}

.background-image-overlay {
  position: absolute;
  inset: 0;
  background-image: url(../assets/images/pattern-lines.svg);
  background-repeat: repeat-x;
  background-size: cover;
  opacity: 0.4; /* Soften the lines like the design */
}


.pattern-squiggly-line-bottom-mobile,
.pattern-squiggly-line-bottom-desktop,
.pattern-squiggly-line-top {
  pointer-events: none; /* Prevents icons from blocking clicks on the form */
}

.pattern-squiggly-line-bottom-mobile {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 15rem;
  height: auto;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
}

.pattern-squiggly-line-bottom-desktop {
  display: none;
}

.pattern-squiggly-line-top {
  position: absolute;
  top: clamp(1rem, 6%, 3rem);
  right: 0;
  width: clamp(5rem, 24%, 20rem);
  height: auto;
}
@media (min-width: 40.625rem) {
  .background-image {
      background-image: url(../assets/images/background-tablet.png);
  }

  .pattern-squiggly-line-bottom-mobile {
      width: 18rem;
  }
}

@media (min-width: 64rem) {
  .background-image {
      background-image: url(../assets/images/background-desktop.png);
  }

  .pattern-squiggly-line-bottom-mobile {
      display: none;
  }

  .pattern-squiggly-line-bottom-desktop {
  position: absolute;
  bottom: 0;
  display: block;
  left: 0;
  width: 34rem;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
}
}