@font-face {
  font-family: "Inconsolata-bold";
  src: url(./assets/fonts/static/Inconsolata-Bold.ttf);
}

@font-face {
  font-family: "Inconsolata-extrabold";
  src: url(./assets/fonts/static/Inconsolata-ExtraBold.ttf);
}

@font-face {
  font-family: "Inconsolata-medium";
  src: url(./assets/fonts/static/Inconsolata-Medium.ttf);
}

@font-face {
  font-family: "Inconsolata-regular";
  src: url(./assets/fonts/static/Inconsolata-Regular.ttf);
}

@font-face {
  font-family: "Inconsolata";
  src: url(./assets/fonts/Inconsolata-VariableFont_wdth\,wght.ttf);
}

:root {
  line-height: 1.5;
  font-family: 'Inconsolata', monospace;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.25em;

  --neutral-0: 255, 255, 255;
  --neutral-300: 212, 212, 216;
  --neutral-500: 148, 163, 184;
  --neutral-700: 100, 116, 139;
  --neutral-900: 15, 23, 42;
  --orange-500: 251, 146, 60;
  --orange-700: 234, 88, 12;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center center;
  min-width: 16rem;
  min-height: 100vh;
}

#root {
  display: flex;
  place-items: center center;
  gap: 0;
  flex-direction: column;
  height: auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(2rem, 5vh + 2rem, 6rem);
  flex-direction: column;
  height: 100vh;
  width: 100%;
  position: relative;
  
}

section {
  display: flex;
  flex-direction: column;
  place-items: center center;
  width: clamp(17rem, 50%, 40rem);
}